.btn {
  display: block;
  padding: 17px;

  font-weight: 700;
  font-size: 18px;
  line-height: 1;
  font-family: $main-font;
  color: #161c35;
  text-decoration: none;

  background-color: #ffd74b;
  border: none;
}
