.btn {
  padding: 17px 80px;

  font-weight: 700;
  font-size: 17px;
  line-height: 30px;
  font-family: $main-font;
  color: #161c35;
  text-transform: uppercase;
  text-decoration: none;

  background-color: #ffd74b;
  border: none;
  border-radius: 25px;
}
