.contacts-list {
  @include list-reset;
}

.contacts-list__item {
  margin-bottom: 20px;
}

@mixin links {
  font-size: 16px;
  line-height: 22px;
  font-weight: 700;
  color: #192144;
  position: relative;

  padding-left: 55px;

  &::before {
    content: "";
    position: absolute;
    width: 45px;
    height: 45px;
    background-color: #121936;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
    border-radius: 50%;
  }
}

.contacts-list__phone {
  @include links;

  padding-left: 55px;
  margin-bottom: 20px;

  &::before {
    top: -17px;
    left: 0;
    background-image: url("../../img/contacts-phone.svg");
  }
}

.contacts-list__email {
  @include links;

  &::before {
    top: -17px;
    left: 0;
    background-image: url("../../img/contacts-mail.svg");
  }
}

.contacts-list__phone--theme-orange-icon {
  display: block;
  width: 45px;
  height: 45px;
  padding: 0;

  &::before {
    background-color: #ff8d30;
    top: 0;
  }
}

.contacts-list__email--theme-yellow-icon {
  display: block;
  width: 45px;
  height: 45px;
  padding: 0;

  &::before {
    background-color: #ffbd30;
    top: 0;
  }
}

.contacts-list__email--theme-yellow-text,
.contacts-list__phone--theme-yellow-text {
  color: #ffd74b;
}
