.contacts-list {
  width: 100%;
  margin: 0;
  margin-bottom: 28px;
  padding: 0;

  list-style: none;
}

.contacts-list__item {
  margin-bottom: 23px;
}

.contacts-list__phone {
  padding-left: 61px;

  @include links;
}

.contacts-list__phone svg {
  position: absolute;
  top: -13px;
  left: 0;

  padding: 13.5px;
  overflow: visible;

  background-color: #121836;
  border-radius: 50%;

  fill: #ffd74b;
}

.contacts-list__email {
  padding-left: 61px;

  @include links;
}

.contacts-list__email svg {
  position: absolute;
  top: -13px;
  left: 0;

  padding: 13.5px;
  overflow: visible;

  background-color: #121836;
  border-radius: 50%;

  fill: #ffd74b;
}

.contacts-list__phone-icon--desktop {
  display: none;
}

.contacts-list__email-icon--desktop {
  display: none;
}

.contacts-list__phone--theme-orange-icon {
  display: block;
  width: 42px;
  height: 42px;
  padding: 0;

  &::before {
    top: 0;

    background-color: #ff8d30;
  }
}

.contacts-list__email--theme-yellow-icon {
  display: block;
  width: 41px;
  height: 41px;
  padding: 0;

  &::before {
    top: 0;

    background-color: #ffbd30;
  }
}

.contacts-list__email--theme-yellow-text,
.contacts-list__phone--theme-yellow-text {
  color: #ffd74b;
}

@media (min-width: $tablet) {
  .contacts-list {
    width: auto;
    margin-bottom: 109px;
    padding-left: 86px;
  }

  .contacts-list__item {
    margin-bottom: 38px;
  }

  .contacts-list__phone {
    font-size: 28px;
    line-height: 1;
  }

  .contacts-list__phone svg {
    top: -25px;
    left: -29px;

    width: 27px;
    height: 27px;
    padding: 20.3px;
  }


  .contacts-list__email {
    font-size: 28px;
    line-height: 1;
  }

  .contacts-list__email svg {
    top: -23px;
    left: -29px;

    width: 27px;
    height: 27px;
    padding: 20.3px;
  }
}

@media (min-width: $desktop) {
  .contacts-list {
    display: flex;
    width: 100px;
    min-height: 50px;
    margin: 0;
    margin-left: auto;
    padding: 0;
  }

  .contacts-list__item {
    width: 50%;
  }

  .contacts-list__phone-icon--mobile {
    display: none;
  }

  .contacts-list__email-icon--mobile {
    display: none;
  }

  .contacts-list__phone .contacts-list__phone-icon--desktop {
    top: 1px;
    left: 2px;

    display: block;
    width: 18px;
    height: 18px;
    padding: 16px;

    background-color: #ff8c30;

    fill: #161c35;
  }

  .contacts-list__email .contacts-list__email-icon--desktop {
    top: 1px;
    left: 2px;

    display: block;
    width: 18px;
    height: 18px;
    padding: 16px;

    background-color: #ffbd2f;

    fill: #161c35;
  }

  .contacts-list__phone:hover .contacts-list__phone-icon--desktop,
  .contacts-list__phone:focus .contacts-list__phone-icon--desktop {
    background-color: #f26926;
  }

  .contacts-list__phone:active .contacts-list__phone-icon--desktop {
    fill: rgba(#161c35, 0.3);
  }

  .contacts-list__email:hover .contacts-list__email-icon--desktop,
  .contacts-list__email:focus .contacts-list__email-icon--desktop {
    background-color: #ff8d30;
  }

  .contacts-list__email:active .contacts-list__email-icon--desktop {
    fill: rgba(#161c35, 0.3);
  }
}
