.countries {
  position: relative;
  z-index: 10;

  padding: 0 25px;
  padding-top: 52px;
  padding-bottom: 29px;

  background-color: #edeff6;
  border-radius: 0 0 30px 30px;
}

.countries__wrapper {
  display: block;
  margin: 0;
  padding: 0;
}

.countries__title {
  margin-left: 26px;

  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  font-family: $main-font;
  color: #ff8d30;
  font-style: normal;
}

.countries__description {
  width: 74%;
  margin-bottom: 59px;
  margin-left: 25px;

  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  font-family: $main-font;
  color: #444444;
  font-style: normal;
}

.countries__list {
  @include list-reset;
}

.countries__item {
  margin-bottom: 10px;

  background-color: $white-color;
  border-radius: 10px;
}

.countries__img--mobile {
  width: 100%;

  border-radius: 10px 10px 0 0;
}

.countries__img--desktop {
  display: none;
}

.countries__bg {
  display: flex;
  justify-content: space-between;
  padding-right: 25px;
  padding-bottom: 22px;
  padding-left: 25px;

  background-color: $white-color;
  border-radius: 10px;
}

.countries__country {
  margin-top: 9px;
  margin-bottom: 2px;

  font-weight: 700;
  font-size: 21px;
  line-height: 21px;
  font-family: $main-font;
  color: #161c35;
  font-style: normal;
}

.countries__slogan {
  margin-top: 0;
  margin-bottom: 0;

  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  font-family: $main-font;
  color: rgba(#444444, 0.3);
  font-style: normal;
}

.countries__users {
  margin-top: 13px;

  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  font-family: $main-font;
  color: rgba(#444444, 0.3);
  font-style: normal;
}

.countries__btn {
  margin-top: 25px;
  padding: 23px 24px;

  color: #1d2e5b;

  border-radius: 10px;
}

.countries__btn--top {
  display: none;
}

@media (min-width: $tablet) {
  .countries {
    padding-right: 62px;
    padding-bottom: 80px;
    padding-left: 70px;

    border-radius: 60px;
  }

  .countries__title {
    margin-top: 22px;
    margin-bottom: 58px;
    margin-left: 2px;

    font-weight: 700;
    font-size: 45px;
    line-height: 45px;
    color: #ff8d30;
  }

  .countries__description {
    width: 55%;
    margin-top: 0;
    margin-bottom: 104px;
    margin-left: 5px;

    font-weight: 300;
    font-size: 28px;
    line-height: 33px;
  }

  .countries__list {
    padding-left: 5px;
  }

  .countries__item {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;

    border-radius: 20px;
  }

  .countries__img--mobile {
    display: none;
  }

  .countries__img--desktop {
    display: block;

    border-radius: 0 20px 20px 0;
  }

  .countries__bg {
    flex-direction: column;

    border-radius: 20px;
  }

  .countries__btn {
    margin-top: 46px;
    padding: 29px 38px;

    font-weight: 700;
    font-size: 24px;
    line-height: 24px;

    border-radius: 20px;
  }
}

@media (min-width: $desktop) {
  .countries {
    margin: 0;
    padding: 0;
    padding-bottom: 138px;
  }

  .countries__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 1320px;
    margin: 0 auto;
    padding-top: 161px;
  }

  .countries__text-container {
    width: 40%;
    margin-right: 12px;
  }

  .countries__title {
    margin-top: 5px;
  }

  .countries__description {
    width: 65%;
    margin-bottom: 0;
    margin-left: 0;
  }

  .countries__btn {
    width: 208px;
    margin-top: 96px;
    margin-left: 4px;
    padding: 29px 33px;
  }

  .countries__btn--top {
    display: block;
  }

  .countries__btn--bottom {
    display: none;
  }

  .countries__list {
    order: -1;
    width: 42.4%;
    margin-left: 45px;
  }
}
