.cta-form {
  position: relative;
  z-index: 1;

  margin-top: -30px;

  background-color: #192144;
  border-radius: 0 0 30px 30px;
}

.cta-form__wrapper {
  padding-top: 102px;
  padding-bottom: 11px;
}

.cta-form__title {
  margin-top: 0;
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  font-family: $main-font;
  text-align: center;
  color: #ff8d30;
  font-style: normal;
}

.cta-form__text {
  width: 85%;
  margin: 0 auto;
  margin-top: 0;
  margin-bottom: 28px;

  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  font-family: $main-font;
  text-align: center;
  color: #ffffff;
  font-style: normal;

  .cta-form__link {
    color: #ffd74b;
    text-decoration: underline;
  }
}

.cta-form__form {
  position: relative;

  margin-bottom: 28px;
}

.cta-form__field {
  box-sizing: border-box;
  width: 100%;
  height: 62px;

  border-radius: 10px;
}

.cta-form__list {
  margin-top: 30px;
}

.cta-form__btn {
  position: absolute;
  top: 0;
  right: 0;

  width: 60px;
  height: 62px;
  padding: 0;

  border-radius: 10px;

  &::after {
    content: "";
    position: absolute;
    top: 24px;
    right: 2px;

    width: 12px;
    height: 0;

    border: 7px solid #1d2e5b;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    transform: scaleX(1.4);
  }
}

.cta-form__btn-text {
  display: none;
}

.cta-form__item {
  margin-bottom: 24px;
}

.cta-form__item:last-of-type {
  margin-bottom: 0;
}

.cta-form__phone {
  display: block;
  padding-left: 61px;

  text-transform: uppercase;

  &::before {
    top: -11px;
  }
}

.cta-form__email {
  display: block;
  padding-left: 61px;

  text-transform: uppercase;

  &::before {
    top: -11px;
  }
}


@media (min-width: $tablet) {
  .cta-form {
    margin-top: -60px;

    border-radius: 0 0 60px 60px;
  }

  .cta-form__wrapper {
    padding-top: 136px;
    padding-right: 48px;
    padding-bottom: 78px;
    padding-left: 48px;
  }

  .cta-form__title {
    margin-bottom: 57px;

    font-size: 45px;
    line-height: 45px;
  }

  .cta-form__text {
    width: 100%;
    margin-bottom: 63px;

    font-size: 28px;
    line-height: 33px;
  }

  .cta-form__text:last-of-type {
    margin-bottom: 0;
  }

  .cta-form__form {
    width: 91.9%;
    margin: 0 auto;
  }

  .cta-form__field {
    height: 81px;
    margin-bottom: 59px;
    padding-top: 21px;
    padding-right: 100px;
    padding-bottom: 22px;
    padding-left: 35px;

    font-size: 24px;
    line-height: 24px;

    border-radius: 20px;

    &::placeholder {
      font-size: 24px;
      line-height: 24px;
    }
  }

  .cta-form__btn {
    width: 81px;
    height: 81px;

    border-radius: 0 20px 20px 0;


    &::after {
      top: 34px;
      right: 15px;
    }
  }

  .cta-form__list {
    margin-top: 62px;
    margin-bottom: 0;
    margin-left: 9px;
    padding-left: 0;
  }

  .cta-form__item {
    margin-bottom: 38px;
    padding-left: 48px;
  }

  .cta-form__item:last-of-type {
    margin-bottom: 0;
  }

  .cta-form__phone {
    font-weight: 700;
    font-size: 28px;
    line-height: 28px;

    &::before {
      top: -23px;
      left: -28px;

      width: 69px;
      height: 69px;

      background-size: 45%;
    }
  }

  .cta-form__email {
    font-size: 28px;
    line-height: 28px;

    &::before {
      top: -23px;
      left: -28px;

      width: 69px;
      height: 69px;

      background-size: 45%;
    }
  }
}


@media (min-width: $desktop) {
  .cta-form {
    padding: 0;
  }

  .cta-form__wrapper {
    padding: 0;
    padding-top: 167px;
    padding-bottom: 94px;
  }

  .cta-form__title {
    margin-bottom: 57px;
  }

  .cta-form__text {
    width: 60%;
    margin-bottom: 57px;
  }

  .cta-form__form {
    width: 88.9%;
  }

  .cta-form__field {
    margin-bottom: 69px;
    margin-left: -1px;
    padding: 24px 364px 22px 35px;
  }

  .cta-form__btn {
    width: 325px;
    padding-top: 3px;
    padding-right: 55px;
    padding-bottom: 1px;
    padding-left: 1px;

    &::after {
      top: 34px;
      left: 284px;
    }
  }

  .cta-form__btn-text {
    display: block;
    width: auto;
    margin-left: 36px;

    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    text-align: left;
    color: #1d2e5b;
  }

  .cta-form__text:last-of-type {
    letter-spacing: 0.4px;
  }

  .cta-form__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 65%;
    margin: 0 auto;
    margin-top: 75px;
  }

  .cta-form__item {
    width: 42.7%;
  }

  .cta-form__email svg {
    top: -34px;
    left: -59px;

    width: 36px;
    height: 36px;
    padding: 27px;
  }


  .cta-form__phone {
    margin-left: 4px;
  }

  .cta-form__phone svg {
    top: -34px;
    left: -60px;

    width: 36px;
    height: 36px;
    padding: 27px;
  }
}
