.cta-form__field {
  background-color: #ffffff;
  border-radius: 10px;
  border: none;
  padding-left: 24px;
  padding-right: 65px;

  &::placeholder {
    font-family: $main-font;

    @include font(700, normal, 18px, 18px);
    color: #444444;
    opacity: 0.3;
  }
}
