.inner-page__nav {
  padding-top: 22px;
  padding-bottom: 36px;
}

.inner-page__nav--closed {
  padding-top: 14px;
  padding-bottom: 25px;
}

.inner-page__main {
  padding-top: 64px;

  background-color: #edeff6;
}

@media (min-width: $tablet) {
  .inner-page__nav {
    padding-top: 41px;
    padding-bottom: 65px;
  }

  .inner-page__nav--closed {
    padding-top: 40px;
    padding-bottom: 43px;

    background-color: #161c35;
  }

  .inner-page__main {
    padding-top: 199px;

    background-color: #161c35;
  }
}

@media (min-width: $desktop) {
  .inner-page__nav--closed,
  .inner-page__nav {
    padding-top: 47px;
    padding-bottom: 7px;
  }

  .inner-page__main {
    padding-top: 0;

    background-color: #edeff6;
  }
}
