.instruction {
  padding: 0 25px;
  padding-bottom: 20px;

  background-color: #192144;
  background-image: linear-gradient(#141c34 0%, #141c34 23%, #172143 23%, #172143 100%);
}

.instruction__list {
  @include list-reset;
}

.instruction__item {
  position: relative;

  padding: 25px;
  padding-bottom: 35px;

  border-radius: 10px 10px 0 0;

  &::after {
    position: absolute;
    top: 20px;
    right: 20px;

    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    color: #ffffff;
    font-style: normal;
  }
}

.instruction__item:nth-of-type(1) {
  background-color: #ff8d30;

  &::after {
    content: "1";
  }
}

.instruction__item:nth-of-type(2) {
  top: -10px;

  background-color: #ffa530;

  &::after {
    content: "2";
  }
}

.instruction__item:nth-of-type(3) {
  top: -20px;

  background-color: #ffbd30;

  &::after {
    content: "3";
  }
}

.instruction__item:nth-of-type(4) {
  top: -30px;

  background-color: #ffd74b;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;

  &::after {
    content: "4";
  }
}

.instruction__item a {
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  color: #161c35;
  font-style: normal;
}
