.instruction {
  padding: 0 25px;
  padding-bottom: 20px;

  background-color: #192144;
  background-image: linear-gradient(#141c34 0%, #141c34 23%, #172143 23%, #172143 100%);
}

.instruction__list {
  @include list-reset;
}

.instruction__item {
  position: relative;

  padding: 25px;
  padding-bottom: 35px;

  border-radius: 10px 10px 0 0;

  &::after {
    position: absolute;
    top: 20px;
    right: 20px;

    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    color: #ffffff;
    font-style: normal;
  }
}

.instruction__item:nth-of-type(1) {
  background-color: #ff8d30;

  &::after {
    content: "1";
  }
}

.instruction__item:nth-of-type(2) {
  top: -10px;

  background-color: #ffa530;

  &::after {
    content: "2";
  }
}

.instruction__item:nth-of-type(3) {
  top: -20px;

  background-color: #ffbd30;

  &::after {
    content: "3";
  }
}

.instruction__item:nth-of-type(4) {
  top: -30px;

  background-color: #ffd74b;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;

  &::after {
    content: "4";
  }
}

.instruction__item a {
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  color: #161c35;
  font-style: normal;
}

@media (min-width: $tablet) {
  .instruction {
    margin-top: 140px;
    padding-right: 40px;
    padding-left: 40px;

    background-image: linear-gradient(#141c34 0%, #141c34 47%, #172143 47%, #172143 100%);
  }

  .instruction__list {
    display: flex;
    flex-wrap: wrap;
  }

  .instruction__item {
    box-sizing: border-box;
    width: 50%;
    min-height: 140px;

    &::after {
      font-weight: 700;
      font-size: 30px;
      line-height: 30px;
    }
  }

  .instruction__item:nth-of-type(1) {
    border-radius: 20px 0 0 0;
  }

  .instruction__item:nth-of-type(2) {
    top: 0;

    border-radius: 0 20px 0 0;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: -20px;

      width: 20px;
      min-height: inherit;

      background-color: #ffa530;
      border-radius: 20px 0 0 0;
    }
  }

  .instruction__item:nth-of-type(3) {
    top: 0;

    border-radius: 0 0 0 20px;
  }

  .instruction__item:nth-of-type(4) {
    top: 0;

    border-radius: 0 0 20px 0;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: -20px;

      width: 20px;
      min-height: inherit;

      background-color: #ffd74b;
      border-radius: 0 0 0 20px;
    }
  }
}
