.intro-title {
  padding: 0 25px;

  background-image: url("../img/traveller-illustration-mobile@1x.png"), url("../img/globe-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 61.7% 128.5px, center;
  background-size: 192px, cover;

  @media (min-resolution: $retina) {
    background-image: url("../img/traveller-illustration-mobile@2x.png"), url("../img/globe-back-mobile@2x.jpg");
  }
}

.intro-title__slogan {
  width: 260px;
  margin: 0 auto;
  margin-bottom: 227px;

  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  font-family: $main-font;
  text-align: center;
  color: $white-color;
  font-style: normal;
}

.intro-title__btns-container {
  position: relative;
  top: 17px;

  display: flex;
  justify-content: center;
}

.intro-title__list {
  display: flex;
  flex-wrap: wrap;
  width: 82px;

  @include list-reset;
}

.intro-title__phone {
  padding: 0;
}

.intro-title__phone svg {
  top: 0;
  left: 1px;

  padding: 11px;

  background-color: #ff8c30;

  fill: #161c35;
}

.intro-title__email {
  padding: 0;
}

.intro-title__email svg {
  top: 0;
  left: 41px;

  padding: 11px;

  background-color: #ffbd2f;

  fill: #161c35;
}

.intro-title__login {
  align-self: center;
  padding: 11px 38px;

  text-transform: uppercase;
  letter-spacing: -0.5px;
}


@media (min-width: $tablet) {
  .intro-title {
    margin-bottom: 10px;
    padding-right: 40px;
    padding-left: 40px;

    background-image: none;
  }

  .intro-title__slogan {
    width: 400px;
    margin-bottom: 0;

    font-weight: 700;
    font-size: 60px;
    line-height: 70px;
  }

  .intro-title__btns-container {
    display: none;
  }
}

@media (min-width: $desktop) {
  .intro-title {
    padding: 0;

    background-image: none;
  }

  .intro-title__slogan {
    width: 400px;
    margin: 0;
    margin-left: 67px;

    font-weight: 700;
    font-size: 60px;
    line-height: 70px;
    text-align: left;
  }
}
