.main-nav {
  position: fixed;
  z-index: 20;

  display: flex;
  flex-wrap: wrap;
  width: auto;
  margin: 0 auto;
  padding-top: 22px;
  padding-bottom: 36px;

  background-color: $white-color;
}

.main-nav__logo {
  display: block;
  width: 100px;
  height: 15px;

  background-image: url("../img/logo-mobile-blue@1x.png");
  background-repeat: no-repeat;
  background-size: 100%;

  @media (min-resolution: $retina) {
    background-image: url("../img/logo-mobile-blue@2x.png");
  }
}

.main-nav__toggle {
  position: relative;

  display: block;
  width: 25px;
  height: 25px;
}

.main-nav__icon {
  position: relative;

  width: 25px;
  height: 25px;

  transform: rotateZ(45deg);

  &::before {
    content: "";
    position: absolute;
    top: 11px;
    left: 0;

    width: 25px;
    height: 2px;

    background-color: #cccccc;
    border-radius: 5px;
    transform: rotateZ(90deg);
  }

  &::after {
    content: "";
    position: absolute;
    top: 12px;
    left: 0;

    width: 25px;
    height: 2px;

    background-color: #cccccc;
    border-radius: 5px;
  }
}

.main-nav--closed {
  position: fixed;
  z-index: 20;

  width: calc(100% - 50px);
  padding-bottom: 26px;

  background-color: #161c36;
}

.main-nav--closed .main-nav__logo {
  background-image: url("../img/logo-mobile-white@1x.png");

  @media (min-resolution: $retina) {
    background-image: url("../img/logo-mobile-white@2x.png");
  }
}

.main-nav--closed .main-nav__toggle {
  padding: 0;
}

.main-nav--closed .main-nav__icon {
  transform: rotateZ(0);

  &::before {
    content: "";
    position: absolute;
    top: 9px;
    left: 0;

    width: 25px;
    height: 3px;

    background-color: #ffffff;
    border-radius: 5px;
    transform: rotateZ(0);
  }

  &::after {
    content: "";
    position: absolute;
    top: 17px;
    left: 0;

    width: 25px;
    height: 3px;

    background-color: #ffffff;
    border-radius: 5px;
  }
}

.main-nav--closed .main-nav__list {
  display: none;
}

.main-nav--closed .page-header__wrapper {
  margin: 0;
}

.main-nav__link {
  position: relative;

  display: block;

  text-transform: uppercase;
}

.main-nav__social-link {
  background-size: contain;
}


@media (min-width: $tablet) {
  .main-nav {
    padding: 40px;
  }

  .main-nav__logo {
    display: block;
    width: 166px;
    height: 42px;

    background-image: url("../img/logo-tablet-blue@1x.png");
    background-repeat: no-repeat;

    @media (min-resolution: $retina) {
      background-image: url("../img/logo-tablet-blue@2x.png");
    }
  }

  .main-nav--closed {
    width: calc(100% - 80px);
    padding-bottom: 72px;

    background-color: #182044;
  }

  .main-nav--closed .main-nav__icon {
    &::before {
      top: 7px;
      left: 1px;
    }

    &::after {
      top: 15px;
      left: 1px;
    }
  }

  .main-nav--closed .main-nav__logo {
    background-image: url("../img/logo-tablet-white@1x.png");

    @media (min-resolution: $retina) {
      background-image: url("../img/logo-tablet-white@2x.png");
    }
  }

  .main-nav--closed .main-nav__list:nth-of-type(2) {
    display: flex;
  }
}

@media (min-width: $desktop) {
  .main-nav {
    position: relative;
    // left: calc(50% - 659px);
    align-items: center;
    width: 1320px;
    padding: 0;
    padding-top: 47px;
    padding-bottom: 7px;

    background-color: #161c34;
  }

  .main-nav__toggle {
    display: none;
  }

  .main-nav .main-nav__logo {
    display: block;
    width: 200px;
    height: 52px;

    background-image: url("../img/logo-desktop-white@1x.png");
    background-repeat: no-repeat;

    @media (min-resolution: $retina) {
      background-image: url("../img/logo-desktop-white@2x.png");
    }
  }

  .main-nav .main-nav__list {
    display: flex;
  }

  .main-nav .main-nav__list:last-of-type {
    display: none;
  }

  .main-nav__link span {
    display: none;
  }

  .main-nav__link::before {
    top: 0;

    width: 51px;
    height: 51px;
  }
}
