.map {
  position: relative;
  z-index: 0;

  margin-top: -30px;
}

.map__wrapper {
  position: relative;
  z-index: 1;
  // padding: 0 25px;

  padding-top: 48px;
  padding-bottom: 35px;

  background-color: #ffd74b;
  border-radius: 0 0 30px 30px;
}

.map__address {
  position: relative;

  width: 55%;
  padding-left: 61px;

  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  font-family: $main-font;
  color: #192144;
  text-transform: uppercase;
  font-style: normal;
}

.map__address svg {
  position: absolute;
  top: -2px;
  left: 0;

  padding: 12px 16px;
  overflow: visible;

  background-color: #121836;
  border-radius: 50%;

  fill: #ffd74b;
}

.map__btn {
  position: relative;

  margin-top: 31px;
  padding: 19px 0;
  padding-left: 20px;

  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  font-family: $main-font;
  color: #1d2e5b;
  font-style: normal;

  border: 3px solid #192144;
  border-radius: 10px;

  &::after {
    content: "";
    position: absolute;
    top: 21px;
    right: 20px;

    width: 10px;
    height: 14px;

    background-image: url("../img/triangle-arrow-right.svg");
    background-repeat: no-repeat;
  }
}

.map__map-block {
  position: relative;

  width: 100%;
  height: 340px;
  margin-top: -30px;
}

@media (min-width: $tablet) {
  .map {
    margin-top: -60px;
  }

  .map__wrapper {
    padding-top: 116px;
    padding-bottom: 85px;

    border-radius: 0 0 60px 60px;
  }

  .map__address-container {
    padding-right: 75px;
    padding-left: 75px;
  }

  .map__address {
    width: auto;
    margin-top: 14px;
    padding-left: 94px;

    font-size: 28px;
    line-height: 28px;
  }

  .map__address svg {
    top: -23px;
    left: 0;

    width: 21px;
    height: 32px;
    padding: 18px 23.5px;
  }

  .map__btn {
    margin-top: 61px;
    padding: 26px 33px;
    padding-bottom: 25px;

    font-size: 24px;
    line-height: 24px;

    border-radius: 20px;

    &::after {
      top: 31px;
      right: 33px;
    }
  }

  .map__map-block {
    height: 576px;
    margin-top: -60px;
  }
}

@media (min-width: $desktop) {
  .map__wrapper {
    padding: 0;
    padding-top: 119px;
    padding-bottom: 60px;
  }

  .map__address-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 1320px;
    margin: 0 auto;
    padding: 0;
  }

  .map__address {
    width: auto;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 249px;

    &::before {
      top: -32px;
      left: -28px;

      width: 91px;
      height: 91px;
    }
  }

  .map__address svg {
    top: -32px;
    left: -27px;

    width: 28px;
    height: 43px;
    padding: 23.5px 31px;
  }

  .map__btn {
    width: 252px;
    margin-top: 0;
    margin-right: 75px;
  }

  .map__map-block {
    height: 510px;
  }
}
