.page-header {
  // margin-bottom: 60px;
  background-color: $darkblue-color;
}

.page-header__wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 80px;
}

@media (min-width: $tablet) {
  .page-header__wrapper {
    order: -1;
    width: 60%;
  }
}

@media (min-width: $desktop) {
  .page-header {
    margin-bottom: 0;
  }

  .page-header__wrapper {
    order: -1;
    width: 26.1%;
    margin-bottom: 0;
  }
}
