.page-header {
  background-color: $darkblue-color;
}

.page-header__wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 64px;
}

@media (min-width: $tablet) {
  .page-header__wrapper {
    align-items: center;
    order: -1;
    width: 51.8%;
    margin-bottom: 98px;
    padding-top: 5px;
  }

  .page-header__logo-image {
    width: 164px;
    height: auto;
  }
}

@media (min-width: $desktop) {
  .page-header {
    margin-bottom: 0;
  }

  .page-header__wrapper {
    order: -1;
    width: 15.2%;
    margin-bottom: 0;
    padding: 0;
  }

  .page-header__logo-image {
    width: 200px;
    height: auto;
  }
}
