.page-main {
  background-color: #edeff6;
}

.page-main__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  font-family: $main-font;
  color: $white-color;
  font-style: normal;

  background-color: #161c35;
}
