.pagination {
  @include list-reset;
}

.pagination__btn {
  display: block;
  width: 135px;
  height: 50px;
  background-color: $white-color;
  border: none;
  position: relative;

  &::after {
    content: "";
    width: 10px;
    height: 20px;
    top: 17px;
    left: 63px;
    position: absolute;
    background-repeat: no-repeat;
  }

  &#{--back} {
    border-radius: 20px 0 0 20px;

    &::after {
      background-image: url("../../img/triangle-arrow-left.svg");
    }
  }

  &#{--front} {
    border-radius: 0 20px 20px 0;

    &::after {
      background-image: url("../../img/triangle-arrow-right.svg");
    }
  }
}

.pagination__list {
  @include list-reset;
}

.pagination__item a {
  position: relative;
  display: block;
  width: 5px;
  height: 5px;

  &::after {
    position: absolute;
    content: "";
    width: 5px;
    height: 5px;
    top: 0;
    left: 0;
    background-color: #1d2e5b;
  }
}
