.pagination {
  background-color: $white-color;
}

.pagination-directions {
  @include list-reset;
}

.pagination__btn {
  position: relative;

  display: block;
  height: 50px;

  border: none;
}

.pagination__btn svg {
  position: absolute;

  fill: #192144;
}

.pagination__btn--back {
  border-right: 1px solid #edeff6;
  border-radius: 20px 0 0 20px;
}

.pagination__btn--back svg {
  top: 15px;
  left: 63px;

  transform: scaleY(1.5);
}


.pagination__btn--front {
  border-radius: 0 20px 20px 0;
}

.pagination__btn--front svg {
  top: 15px;
  right: 62px;

  transform: scaleY(1.5);
}

.pagination__list {
  @include list-reset;
}

.pagination__item {
  position: relative;

  display: block;
  width: 5px;
  height: 5px;

  &::after {
    content: "";
    position: absolute;
    top: 2px;
    left: 3px;

    width: 5px;
    height: 5px;

    background-color: #1d2e5b;
  }
}

.pagination__text {
  font-weight: 400;
  font-size: 20px;
  line-height: 1;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.pagination__number {
  width: 50px;
  height: 50px;

  text-align: center;

  border-radius: 50%;

  &--current {
    background-color: #ffd65c;
    border-radius: 50%;
  }
}

.pagination__number a {
  font-weight: 700;
  font-size: 20px;
  line-height: 2.7;
  color: #161c35;
}

@media (min-width: $tablet) {
  .pagination__btn--back svg {
    top: 12px;
    left: 16px;

    width: 10px;
    height: 20px;
  }

  .pagination__btn--front svg {
    top: 12px;
    right: 14px;

    width: 10px;
    height: 20px;
  }
}

@media (min-width: $desktop) {
  .pagination__btn--back svg {
    left: 15px;
  }

  .pagination__btn--front svg {
    right: 17px;
  }

  .pagination__btn:hover,
  .pagination__btn:focus {
    opacity: 0.6;
  }

  .pagination__btn:active {
    opacity: 0.3;
  }

  .pagination__number:hover,
  .pagination__number:focus {
    opacity: 0.6;
  }

  .pagination__number--current:hover,
  .pagination__number--current:focus {
    opacity: 1;
  }
}
