.pagination {
  background-color: $white-color;
}

.pagination-directions {
  @include list-reset;
}

.pagination__btn {
  position: relative;

  display: block;
  height: 50px;

  border: none;


  &::after {
    content: "";
    position: absolute;

    width: 10px;
    height: 20px;

    background-repeat: no-repeat;
  }
}

.pagination__btn--back {
  border-right: 1px solid #edeff6;
  border-radius: 20px 0 0 20px;

  &::after {
    top: 17px;
    left: 63px;

    background-image: url("../img/triangle-arrow-left.svg");
  }
}

.pagination__btn--front {
  border-radius: 0 20px 20px 0;

  &::after {
    top: 17px;
    right: 63px;

    background-image: url("../img/triangle-arrow-right.svg");
  }
}

.pagination__list {
  @include list-reset;
}

.pagination__item {
  position: relative;

  display: block;
  width: 5px;
  height: 5px;

  &::after {
    content: "";
    position: absolute;
    top: 7px;
    left: 0;

    width: 5px;
    height: 5px;

    background-color: #1d2e5b;
  }
}

.pagination__text {
  font-weight: 400;
  font-size: 20px;
  line-height: 1;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.pagination__number {
  width: 50px;
  height: 50px;

  text-align: center;

  border-radius: 50%;

  &--current {
    background-color: #ffd65c;
    border-radius: 50%;
  }
}

.pagination__number a {
  font-weight: 700;
  font-size: 20px;
  line-height: 2.7;
  color: #161c35;
}
