.plan-creation {
  padding-top: 20px;
}

.plan-creation__user {
  margin-bottom: 20px;

  background-color: transparent;
}

.plan-creation__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0 25px;
}

.plan-creation__level-label {
  position: relative;
}

.plan-creation__circle {
  position: relative;

  width: 103px;
  height: 103px;
}

.plan-creation__circle-bg {
  opacity: 0;
}

.plan-creation__circle-segment {
  stroke-width: 1px;
}

.plan-creation__scores {
  position: absolute;
  top: -15px;
  left: 31px;

  font-weight: 700;
  font-size: 38px;
  line-height: 38px;
  color: #161c35;

  &::after {
    position: absolute;
    content: "";

    bottom: -2px;
    left: -4px;
    width: 49px;
    height: 2px;
    background-color: #cbced9;
  }
}

.plan-creation__level {
  position: absolute;
  top: 46px;
  right: 36px;

  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: $text-color;
}

.plan-creation__photo-wrapper {
  margin-top: 3px;
}

.plan-creation__photo {
  border-radius: 50%;
}

.plan-creation__btn-wrapper {
  display: block;
  width: 100%;
}

.plan-creation__change-photo-btn {
  display: block;
  margin-top: 15px;
  margin-bottom: 22px;
  padding: 12px;
  padding-top: 12px;
  padding-bottom: 11px;

  font-weight: 700;
  font-size: 17px;
  line-height: 1;
  text-align: center;

  border-radius: 20px;
}

.plan-creation__btn-wrapper--small {
  display: none;
}

.plan-creation__fieldset {
  width: 100%;
  margin-bottom: 16px;
}

.plan-creation__legend {
  position: absolute;

  text-align: center;

  background-color: #edeff6;
}

.plan-creation__fieldset--tags {
  width: 100%;
  margin: 0;
  margin-top: 11px;
  margin-bottom: 21px;
}

.plan-creation__fieldset--tags .plan-creation__legend {
  top: -7px;
  left: calc(50% - 35px);

  width: 70px;
}

.plan-creation__fieldset--transport {
  width: 100%;
  margin: 0;
  margin-bottom: 13px;
  padding-top: 14px;
  padding-right: 20px;
  padding-bottom: 9px;
  padding-left: 20px;

  border: 1px solid #cbced9;
  border-radius: 10px;
}

.plan-creation__fieldset--transport .plan-creation__legend {
  top: -8px;
  left: calc(50% - 55px);

  width: 110px;
}

.plan-creation__tags {
  width: 100%;
  padding-top: 21px;
  padding-right: 25px;
  padding-bottom: 22px;
  padding-left: 25px;

  line-height: 1.4;
}

.plan-creation__transport-list {
  display: flex;
  justify-content: center;
}

.plan-creation__item {
  cursor: pointer;
}

.plan-creation__icon {
  overflow: visible;

  background-color: $white-color;
  border-radius: 50%;

  fill: #cccccc;
}

.plan-creation__icon--plane {
  padding-top: 9px;
  padding-right: 11px;
  padding-bottom: 9px;
  padding-left: 9px;
}

.plan-creation__icon--bus {
  padding-top: 9px;
  padding-right: 11px;
  padding-bottom: 9px;
  padding-left: 10px;
}

.plan-creation__icon--bike {
  padding-top: 8px;
  padding-right: 7px;
  padding-bottom: 9px;
  padding-left: 8px;
}

.plan-creation__icon--run {
  padding-top: 8px;
  padding-right: 9px;
  padding-bottom: 9px;
  padding-left: 10px;
}

.plan-creation__input:checked ~ .plan-creation__icon {
  fill: #1d2e5b;
}

.plan-creation__input:focus ~ .plan-creation__icon {
  outline: 5px auto;
}

.plan-creation__file:focus + .plan-creation__change-photo-btn {
  outline: 5px auto;
}

.plan-creation__title {
  margin-top: 0;
  margin-bottom: 31px;

  font-size: 24px;
  line-height: 1;
  font-family: $main-font;
}

@media (min-width: $tablet) {
  .plan-creation {
    padding-top: 124px;
    background-color: #edeff6;
    margin-top: -60px;
  }

  .plan-creation__title {
    margin-bottom: 42px;
    padding-left: 34px;

    font-size: 36px;
    line-height: 1.5;
  }

  .plan-creation__user {
    margin-bottom: 35px;
  }

  .plan-creation__container {
    justify-content: space-between;
    padding: 0 75px;
  }

  .plan-creation__btn-wrapper {
    order: 3;
  }

  .plan-creation__fieldset--tags {
    position: relative;

    order: 4;
    margin-top: 0;
    margin-bottom: 21px;
  }

  .plan-creation__fieldset--tags .plan-creation__legend {
    position: absolute;
    top: auto;
    bottom: -7px;
    left: calc(50% - 42px);

    width: 83px;

    font-weight: 500;
    font-size: 20px;
    line-height: 1;
    letter-spacing: 2px;
  }

  .plan-creation__fieldset--transport {
    position: relative;

    order: 1;
    align-self: flex-start;
    width: 266px;
    margin: 0;
    padding-top: 24px;
    padding-bottom: 20px;
  }

  .plan-creation__fieldset--transport .plan-creation__legend {
    top: auto;
    bottom: -13px;
    left: calc(50% - 75px);

    width: 150px;

    font-weight: 500;
    font-size: 20px;
    line-height: 1;
    letter-spacing: 2px;
  }

  .plan-creation__circle {
    position: relative;

    width: 97px;
    height: 97px;

    top: -1px;
    left: -1px;
  }

  .plan-creation__scores {
    top: -20px;
    left: 26px;

    &::after {
      position: absolute;
      content: "";
      width: 49px;
      height: 2px;
      bottom: -2px;
      left: -4px;

      background-color: #a7a7b1;
    }
  }

  .plan-creation__level {
    top: 41px;
    right: 35px;
  }

  .plan-creation__photo-wrapper {
    order: 2;
    margin-top: 0;
  }

  .plan-creation__photo {
    width: 94px;
    height: 94px;

    border-radius: 6px;
  }

  .plan-creation__transport-type::before {
    width: 43px;
    height: 43px;
  }

  .plan-creation__tags {
    padding-top: 34px;
    padding-right: 38px;
    padding-bottom: 18px;
    padding-left: 38px;

    font-size: 20px;
    line-height: 1;
  }

  .plan-creation__item {
    margin-right: 8px;
  }

  .plan-creation__item:last-of-type {
    margin-right: 0;
  }

  .plan-creation__icon--plane {
    width: 19px;
    height: 21px;
    padding: 11px 13px 11px 11px;
  }

  .plan-creation__icon--bus {
    width: 17px;
    height: 21px;
    padding: 11px 13px 11px 13px;
  }

  .plan-creation__icon--bike {
    width: 24px;
    height: 21px;
    padding: 11px 9px 11px 10px;
  }

  .plan-creation__icon--run {
    width: 20px;
    height: 21px;
    padding: 11px 11px 11px 12px;
  }

  .plan-creation__file {
    border-radius: 10px;
  }

  .plan-creation__change-photo-btn {
    margin-top: 45px;
    margin-bottom: 51px;
    padding-top: 19px;
    padding-bottom: 21px;

    font-weight: 500;
    font-size: 20px;
    line-height: 1;
    letter-spacing: 2px;

    border-radius: 10px;
  }
}

@media (min-width: $desktop) {
  .plan-creation__user {
    z-index: 15;

    margin: 0 auto;
    margin-top: -254px;
    padding: 0;
  }

  .plan-creation__container {
    margin-bottom: 41px;
    padding: 0;
  }

  .plan-creation__photo-wrapper {
    margin-right: auto;
    margin-bottom: 26px;
    margin-left: 42px;
  }

  .plan-creation__photo {
    width: 190px;
    height: 190px;

    border-radius: 8px 8px 0 0;
  }

  .plan-creation__level-label {
    display: flex;
    justify-content: flex-end;
    width: 75.2%;
  }

  .plan-creation__circle {
    align-self: flex-start;
    margin-top: 42px;
    margin-right: 0;

    width: 98px;
    height: 98px;
  }

  .plan-creation__scores {
    color: $white-color;
    top: 23px;
    right: 30px;
    left: auto;
  }

  .plan-creation__level {
    color: $white-color;
    top: 84px;
    right: 34px;
  }

  .plan-creation__title {
    margin-bottom: 42px;
    margin-left: 8px;
    padding: 0;
  }

  .plan-creation__btn-wrapper--small {
    display: block;
  }

  .plan-creation__btn-wrapper--small .plan-creation__change-photo-btn {
    margin-top: -7px;
    margin-bottom: 0;
    padding: 13px;
    padding-top: 17px;
    padding-bottom: 12px;
  }

  .plan-creation__btn-wrapper--big {
    display: none;
  }

  .plan-creation__fieldset {
    width: 45%;
  }

  .plan-creation__change-photo-btn {
    margin-top: 0;

    border-radius: 0 0 10px 10px;
  }

  .plan-creation__change-photo-btn:hover,
  .plan-creation__change-photo-btn:focus {
    background-color: #d1d7e9;
  }

  .plan-creation__change-photo-btn:active {
    color: rgba(#1d2e5b, 0.3);
  }

  .plan-creation__fieldset--tags {
    width: 730px;
    margin-left: 64px;

    border: none;
  }

  .plan-creation__tags {
    border: 1px solid #cbced9;
    border-radius: 10px;
  }

  .plan-creation__tags:hover {
    border-color: #aeb4cb;
  }

  .plan-creation__tags:focus {
    border-color: #161c35;
  }

  .plan-creation__fieldset--tags .plan-creation__legend {
    left: 22px;
  }

  .plan-creation__fieldset--transport {
    order: 4;
    width: 342px;
    margin-right: 0;
  }

  .plan-creation__item {
    margin-right: 0;
  }

  .plan-creation__item:hover .plan-creation__icon,
  .plan-creation__item:focus .plan-creation__icon {
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.07);
  }

  .plan-creation__item:active .plan-creation__icon {
    background-color: #e2e5f1;

    fill: rgba(#101e44, 0.3);
  }

  .plan-creation__icon:focus,
  .plan-creation__icon:hover {
    outline: none;
  }
}
