.plan-add {
  position: relative;

  margin-top: -30px;
  padding: 0 25px;
  padding-top: 29px;
  padding-bottom: 65px;

  background-color: #d4d9eb;
  border-radius: 30px 30px 0 0;
}

.plan-add__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 1;
  color: #1d2e5b;
}

.plan-add__part-title {
  margin-top: 0;
  margin-bottom: 14px;

  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  font-family: $main-font;
  color: #1d2e5b;
  font-style: normal;
}

.plan-add__pagination {
  position: absolute;
  top: 39px;
  right: 30px;

  background-color: transparent;
}

.plan-add__pagination-list {
  display: flex;
}

.plan-add__pagination-item {
  margin-right: 15px;
}

.plan-add__pagination-item a::after {
  border-radius: 50%;
}

.plan-add__step {
  display: block;
}

.plan-add__number {
  width: 100%;
}

.plan-add__text {
  display: block;
}

.plan-add__description {
  margin-top: 0;

  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  font-family: $main-font;
  color: $text-color;
  font-style: normal;
}

.plan-add__fieldset {
  margin: 0;
  margin-bottom: 10px;
  padding: 25px;
  padding-bottom: 4px;

  background-color: $white-color;
  border-radius: 10px;
}

.plan-add__fieldset--step-two {
  padding-bottom: 2px;
}

.plan-add__label-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3px;
}

.plan-add__label {
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  font-family: $main-font;
  color: #1d2e5b;
  text-transform: uppercase;
  font-style: normal;
  letter-spacing: 0.1em;
}

.plan-add__label--lowercase {
  display: block;
  margin-bottom: 16px;
  padding-left: 10px;

  font-weight: 500;
  font-size: 18px;
  line-height: 18px;
  color: #1d2e5b;
  text-transform: none;
  letter-spacing: 0;
}

.plan-add__label--checkbox-label {
  display: block;
  margin-top: 13px;
  margin-bottom: 21px;
  padding-left: 39px;

  font-weight: 400;
  font-size: 15px;
  line-height: 15px;
  font-family: $main-font;
  color: $text-color;
  text-transform: inherit;
  font-style: normal;
  letter-spacing: 0;
}

.plan-add__unit {
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  font-family: $main-font;
  color: #1d2e5b;
  text-transform: uppercase;
  font-style: normal;
  letter-spacing: 0.1em;

  opacity: 0.3;
}

.plan-add__field-wrapper {
  position: relative;

  margin-bottom: 16px;
}

.plan-add__date {
  width: 100%;

  text-transform: capitalize;

  border-right: none;
  border-left: none;
}

.plan-add__btn {
  position: absolute;

  display: inline-block;
  width: 43px;
  height: 43px;
  padding: 0;

  background-color: transparent;
  border-radius: 4px;

  &::after {
    content: "";
    position: absolute;
    top: 14px;
    left: 14px;

    width: 14px;
    height: 14px;

    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.3;
  }
}

.plan-add__btn--minus {
  position: absolute;
  top: 0;
  left: 0;

  &::after {
    background-image: url("../img/qty-minus-mobile.svg");
  }
}

.plan-add__btn--plus {
  position: absolute;
  top: 0;
  right: 0;

  &::after {
    background-image: url("../img/qty-plus-mobile.svg");
  }
}

.plan-add__btn--back {
  position: absolute;
  top: 0;
  left: 0;

  &::after {
    background-image: url("../img/month-arrow-left.svg");
  }
}

.plan-add__btn--front {
  position: absolute;
  top: 0;
  right: 0;

  &::after {
    background-image: url("../img/month-arrow-right.svg");
  }
}


.plan-add__table {
  margin: 0 auto;
  margin-top: 18px;
}

.plan-add__table tr {
  padding: 0;
}

.plan-add__table th {
  width: 30px;
  height: 30px;
  padding: 0;

  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  vertical-align: middle;
  text-align: center;
  color: #444444;
}

.plan-add__table td {
  width: 30px;
  height: 30px;
  padding: 0;

  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  vertical-align: middle;
  text-align: center;
  color: $text-color;
}

.plan-add__btn-next {
  display: block;
  box-sizing: border-box;
  width: 100%;
  margin-top: 22px;
  margin-bottom: 17px;
  padding: 12px;

  text-align: center;
  text-transform: uppercase;

  border-radius: 20px;
}

.plan-add__btn-prew {
  margin-top: 0;
  margin-bottom: 14px;
  padding: 0;

  text-align: center;
  text-transform: uppercase;

  background-color: transparent;
}

.plan-add__btn-select-country {
  width: 100%;
  padding: 12px;

  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  font-family: $main-font;
  text-align: left;
  color: #1d2e5b;
  text-transform: uppercase;
  font-style: normal;
  letter-spacing: 0.1em;

  background-color: #ffffff;
  border: 1px solid #cbced9;
  border-radius: 4px;
}

.plan-add__btn-add-country {
  width: 100%;
  padding: 12px;

  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  font-family: $main-font;
  text-align: left;
  color: #1d2e5b;
  text-transform: uppercase;
  font-style: normal;
  letter-spacing: 0.1em;

  background-color: #edeff6;
  border-radius: 4px;
}

.plan-add__list {
  margin: 0;
  margin-bottom: 10px;
  padding: 0;

  list-style: none;
}

.plan-add__item {
  margin-bottom: 22px;
}

.plan-add__textarea__wrapper {
  margin-top: 23px;
  margin-bottom: 20px;
}

.plan-add__textarea {
  box-sizing: border-box;
  width: 100%;
  height: 220px;
  padding: 15px;
  padding-top: 10px;

  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  font-family: $main-font;
  color: $text-color;
  font-style: normal;

  &::placeholder {
    margin-top: 0;

    opacity: 0.3;
  }
}

.plan-add__textarea__wrapper:last-of-type {
  margin-top: 20px;
  margin-bottom: 0;
}

.plan-add__select {
  margin-top: 21px;
  padding: 12px 6px;
}

.plan-add__fieldset--step-three {
  padding-bottom: 2px;
}

.plan-add__fieldset--step-three .plan-add__btn-next {
  margin-top: 14px;
}
