.plans {
  background-color: #dfe3f0;
}

.plans__list {
  list-style: none;
}

.plans__item {
  font-family: $main-font;
  color: #1d2e5b;
  text-transform: uppercase;
  letter-spacing: 0.1em;

  background-color: #ffffff;
  border-radius: 10px;

  @include font(500, normal, 16px, 16px);

  &:nth-of-type(1) {
    &::before {
      content: "1.";
    }
  }

  &:nth-of-type(2) {
    &::before {
      content: "2.";
    }
  }
}

.plans__title {
  font-family: $main-font;
  color: #1d2e5b;
  text-transform: uppercase;

  @include font(700, normal, 24px, 24px);
}

.plans__country {
  font-family: $main-font;
  color: #1d2e5b;
  text-transform: uppercase;

  @include font(700, normal, 16px, 16px);
}

.plans__travelmates {
  font-family: $main-font;
  color: #1d2e5b;
  text-transform: uppercase;
  letter-spacing: 0.1em;

  @include font(500, normal, 14px, 14px);
}

.plans__date {
  font-family: $main-font;
  color: #1d2e5b;
  text-transform: uppercase;
  letter-spacing: 0.1em;

  @include font(500, normal, 14px, 14px);
}

.plans__btn {
  font-family: $main-font;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 0.1em;

  opacity: 0.3;

  @include font(500, normal, 14px, 18px);
}
