.polices-list {
  @include list-reset;
}

.polices-list__link {
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  font-family: $main-font;
  color: #192144;
  text-transform: uppercase;
  font-style: normal;

  opacity: 0.3;
}

.polices-list__link--current {
  opacity: 1;
}

@media (min-width: $tablet) {
  .polices-list__link {
    font-size: 20px;
    line-height: 1;
  }
}

@media (min-width: $desktop) {
  .polices-list__link:hover,
  .polices-list__link:focus {
    opacity: 0.6;
  }

  .polices-list__link:active {
    opacity: 1;
  }

  .polices-list__link--current:hover,
  .polices-list__link--current:focus {
    opacity: 1;
  }
}
