.selectfield {
  display: block;
  width: 100%;
  padding: 12px;
  overflow: hidden;

  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #1d2e5b;
  text-transform: uppercase;
  letter-spacing: 1px;

  background-color: $white-color;
  border: 1px solid #cbced9;
  border-radius: 4px;
}
