.social-list {
  @include list-reset;
}

.social-list__link {
  display: block;
  width: 23px;
  height: 23px;

  background-repeat: no-repeat;
  background-position: center;
}

.social-list__link--facebook {
  background-image: url("../img/facebook.svg");
  background-size: 25%;
}

.social-list__link--vk {
  background-image: url("../img/vk.svg");
  background-size: 50%;
}

.social-list__link--instagram {
  background-image: url("../img/instagram.svg");
  background-size: 40%;
}

// @media (min-width: $tablet) {
//   .page-footer__item a {
//     width: 61px;
//     height: 61px;
//   }

// }

// @media (min-width: $desktop) {
//   .page-footer__item a {
//     width: 61px;
//     height: 61px;
//   }
// }
