.social-list {
  @include list-reset;
}

.social-list__link {
  display: block;

  background-repeat: no-repeat;
  background-position: center;

  svg {
    fill: #cccccc;
  }
}

@media (min-width: $tablet) {
  .social-list__link--facebook {
    svg {
      width: 14px;
      height: 28px;
    }
  }

  .social-list__link--vk {
    svg {
      width: 31px;
      height: 16px;
    }
  }

  .social-list__link--instagram {
    svg {
      width: 24px;
      height: 24px;
    }
  }
}
