.table {
  border-collapse: collapse;
}

.table td {
  width: 45px;
  height: 42px;

  vertical-align: middle;
  text-align: center;

  background-color: #ffffff;
  border: 1px solid #cbced9;
  padding: 0;
}

.table__link {
  display: block;
  box-sizing: border-box;
  width: inherit;
  height: inherit;
  padding-top: 14px;

  font-family: $main-font;
  color: #1d2e5b;
  text-transform: uppercase;

  @include font(500, normal, 14px, 18px);

  &#{--current} {
    background-color: #1d2e5b;
    color: $white-color;
  }
}
