.travelmates-cards {
  padding-bottom: 64px;
}

.travelmates-cards__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.travelmates-cards__item {
  margin-bottom: 10px;
  padding: 15px 20px;
  padding-bottom: 22px;

  background-color: $white-color;
  border-radius: 20px;
}

.travelmates-cards__user {
  position: relative;
}

.travelmates-cards__online-status {
  position: absolute;
  top: 8px;
  right: -24%;

  width: 6px;
  height: 6px;
}

.travelmates-cards__photo {
  float: left;
  margin-right: 14px;

  border-radius: 50%;
}

.travelmates-cards__user-name {
  position: relative;

  display: block;
  width: 80%;
  margin-top: 0;

  letter-spacing: -0.6px;
}


.travelmates-cards__rating {
  margin-top: 6px;
}

.travelmates-cards__tags {
  width: 84%;
  margin-top: 17px;
  margin-bottom: 13px;
  margin-left: 5px;

  letter-spacing: -0.5px;
}

.travelmates-cards__text {
  position: relative;

  margin-top: 0;
  padding: 0 6px;

  letter-spacing: -0.5px;

  &::before {
    content: "";
    position: absolute;
    top: 9px;
    left: -20px;

    width: 15px;
    height: 1px;

    background-color: #edeff6;
  }

  &::after {
    content: "";
    position: absolute;
    top: 9px;
    right: 55px;

    width: calc(100% - 140px);
    height: 1px;

    background-color: #edeff6;
  }
}

.travelmates-cards__text--flags::after {
  right: -20px;

  width: calc(100% - 90px);
}

.travelmates-cards__text--level {
  margin-bottom: 8px;
  padding-right: 3px;

  &::before {
    display: none;
  }

  &::after {
    content: "";
    position: absolute;
    top: 9px;
    right: -20px;

    width: 14px;
    height: 1px;

    background-color: #edeff6;
  }
}

.travelmates-cards__level-label {
  position: relative;

  margin-left: 3px;
}

.travelmates-cards__circle {
  width: 45px;
  height: 45px;
}

.travelmates-cards__circle-bg {
  opacity: 0;
}

.travelmates-cards__scores {
  position: absolute;
  top: -13px;
  left: 9px;
  color: #1d2e5b;
}

.travelmates-cards__level {
  display: none;
}

.travelmates-cards__level-word {
  display: none;
}

.travelmates-cards__flags {
  margin-top: 19px;
}

.travelmates-cards__flag {
  position: relative;

  margin-bottom: 13px;
  padding-left: 45px;

  font-size: 15px;
  line-height: 15px;
  text-transform: uppercase;
  letter-spacing: -0.1px;
  color: #1d2e5b;
  font-weight: 500;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.travelmates-cards__flag svg {
  position: absolute;
  top: -4px;
  left: 5px;
}

.travelmates-cards__transport-level {
  position: relative;

  display: flex;
  justify-content: space-between;
  margin-top: 12px;

  &::after {
    content: "";
    position: absolute;
    top: 9px;
    right: 55px;

    width: calc(100% - 141px);
    height: 1px;

    background-color: #edeff6;
  }
}

.travelmates-cards__transport-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: 4px;
}

.travelmates-cards__transport-item {
  position: relative;

  width: 33px;
  height: 33px;

  background-color: #edeff5;
  border-radius: 50%;
}

.travelmates-cards__transport-icon {
  position: absolute;
}

.travelmates-cards__transport-icon--plane {
  top: 8px;
  left: 9px;
}

.travelmates-cards__transport-icon--bus {
  top: 8px;
  left: 10px;
}

.travelmates-cards__transport-icon--bike {
  top: 7px;
  left: 7px;
}

.travelmates-cards__transport-icon--run {
  top: 7px;
  left: 9px;
}


.travelmates-cards__transport-type {
  width: 33px;
  height: 33px;

  background-color: #edeff5;
  border-radius: 50%;

  &::before {
    top: 5px;
    right: 5px;

    background-size: 65%;
  }
}


.travelmates-cards__like-btn {
  position: absolute;
  top: 38px;
  left: 46px;

  cursor: pointer;
}

.travelmates-cards__btn {
  margin-top: 10px;
  padding-bottom: 10px;

  text-align: center;
}

.travelmates-cards__btn--tablet {
  display: none;
}


.travelmates-cards__show-more-btn {
  display: block;
  margin-top: 25px;
  padding-left: 31px;

  font-weight: 700;
  font-size: 17px;
  line-height: 1;
  text-align: center;
  color: #1d2e5b;
  text-transform: uppercase;
  letter-spacing: 0.2px;
}

.travelmates-cards__btn-text {
  position: relative;
}

.travelmates-cards__btn-text svg {
  position: absolute;
  top: 1px;
  left: -32px;

  fill: #1d2e5b;
}

.travelmates-cards__pagination {
  margin-top: 27px;
  margin-bottom: 20px;

  border-radius: 20px;
}

.travelmates-cards__pagination-directions {
  display: flex;
  width: 100%;
  margin-top: 10px;
}

.travelmates-cards__pagination-item {
  width: 50%;
}

.travelmates-cards__pagination-numbers {
  display: none;
}

.travelmates-cards__item--pixelperfect .travelmates-cards__transport-level {
  margin-top: 18px;
}

.travelmates-cards__item--pixelperfect:nth-of-type(3) .travelmates-cards__transport-level {
  margin-top: 15px;
}

.travelmates-cards__item--pixelperfect:nth-of-type(4) .travelmates-cards__transport-level {
  margin-top: 18px;
}


@media (min-width: $tablet) {
  .travelmates-cards {
    padding-bottom: 97px;
  }

  .travelmates-cards__photo {
    width: 190px;
    height: 190px;
    margin-top: 4px;
    margin-right: 33px;
    margin-left: 2px;

    border-radius: 18px;
  }

  .travelmates-cards__user-name {
    width: auto;

    font-size: 30px;
    line-height: 1;
    letter-spacing: 0;
  }

  .travelmates-cards__tags {
    width: 95.1%;
    margin-top: 18px;
    margin-bottom: 47px;
    margin-left: 3px;

    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0;
  }

  .travelmates-cards__item {
    margin-bottom: 40px;
    padding-top: 31px;
    padding-right: 24px;
    padding-bottom: 9px;
    padding-left: 34px;

    background-color: $white-color;
    border-radius: 20px;
  }

  .travelmates-cards__user {
    display: flex;
    flex-wrap: wrap;
  }

  .travelmates-cards__container {
    position: relative;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    order: 0;
    align-self: flex-start;
    width: 41%;
  }

  .travelmates-cards__visit {
    order: 1;
    width: 100%;
    margin-top: 14px;
  }

  .travelmates-cards__flags {
    display: flex;
    flex-grow: 1;
    margin-top: 17px;
  }

  .travelmates-cards__flag {
    margin-right: 25px;
    padding-left: 49px;

    font-size: 20px;
    line-height: 30px;

    color: #1d2e5b;
    font-weight: 500;
    letter-spacing: -0.1px;
  }

  .travelmates-cards__flag svg {
    top: 2px;
    left: 2px;

    width: 35px;
    height: 24px;
  }

  .travelmates-cards__item .travelmates-cards__transport-level {
    flex-direction: column;
    margin-top: 4px;
    margin-right: 2px;
    margin-left: auto;
  }

  .travelmates-cards__item:nth-of-type(3) .travelmates-cards__transport-level {
    flex-direction: column;
    margin-top: 3px;
    margin-left: auto;
  }

  .travelmates-cards__item:nth-of-type(4) .travelmates-cards__transport-level {
    flex-direction: column;
    margin-top: 3px;
    margin-left: auto;
  }

  .travelmates-cards__transport-list {
    flex-direction: column;
    align-items: center;
  }

  .travelmates-cards__transport-item {
    background-color: transparent;
  }

  .travelmates-cards__transport-icon--plane {
    top: 3px;
    left: 3px;

    width: 19px;
    height: 21px;
  }

  .travelmates-cards__transport-icon--bus {
    top: 2px;
    left: 6px;

    width: 17px;
    height: 21px;
  }

  .travelmates-cards__transport-icon--bike {
    top: -1px;
    left: 3px;

    width: 24px;
    height: 21px;
  }

  .travelmates-cards__transport-icon--run {
    top: 0;
    left: 5px;

    width: 20px;
    height: 21px;
  }

  .travelmates-cards__transport-type {
    width: 41px;

    background-color: transparent;
  }

  .travelmates-cards__transport-type::before {
    top: 1px;
  }

  .travelmates-cards__like-btn {
    position: relative;
    top: 0;
    left: 0;

    order: 1;
    width: 50px;
    height: 50px;

    &::after {
      top: 18px;
      left: 14px;

      width: 21px;
      height: 17px;
    }
  }

  .travelmates-cards__text--level {
    display: none;
  }

  .travelmates-cards__rating {
    order: 2;
    margin-top: 15px;
    margin-bottom: 0;
    margin-left: 7px;

    font-size: 20px;
    line-height: 1;
  }

  .travelmates-cards__show-more-btn {
    margin-top: 49px;
    padding-left: 41px;

    font-size: 21px;
    letter-spacing: -0.5px;
  }

  .travelmates-cards__btn-text svg {
    position: absolute;
    top: -2px;
    left: -50px;

    width: 27px;
    height: 27px;

    fill: #1d2e5b;
  }

  .travelmates-cards__btn--mobile {
    display: none;
  }

  .travelmates-cards__btn--tablet {
    display: block;
    order: 1;
    width: 120px;
    margin: 0;
    margin-left: -3px;
    padding: 14px 15px 12px 13px;
    font-size: 20px;
    line-height: 1.1;

    border-radius: 25px;
  }

  .travelmates-cards__text--flags {
    margin-left: 50px;
    padding: 0;

    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0;

    &::before {
      top: 10px;
      left: -83px;

      width: 70px;
    }

    &::after {
      top: 10px;
      right: -33px;

      width: calc(100% - 72px);
    }
  }

  .user-card__transport-item:nth-of-type(1) .user-card__transport-type::before {
    background-size: 18px;
  }

  .user-card__transport-item:nth-of-type(2) .user-card__transport-type::before {
    top: 0;
    left: 15px;

    background-size: 16px;
  }

  .user-card__transport-item:nth-of-type(3) .user-card__transport-type::before {
    top: -2px;
    left: 15px;

    background-size: 23px;
  }

  .user-card__transport-item:nth-of-type(4) .user-card__transport-type::before {
    top: -2px;
    left: 15px;

    background-size: 19px;
  }

  .travelmates-cards__text--transport {
    display: none;
  }

  .travelmates-cards__pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 53px;
  }

  .travelmates-cards__pagination-numbers {
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    margin: 0;
    padding: 25px 25px 25px 28px;

    list-style: none;
  }

  .travelmates-cards__pagination-directions {
    width: 12%;
    margin-top: 6px;
    margin-right: 21px;
  }

  .pagination__btn--back {
    border: none;
  }

  .pagination__btn--back::after {
    top: 14px;
    left: 15px;
  }

  .pagination__btn--front::after {
    top: 14px;
    right: 15px;
  }

  .travelmates-cards__pagination-item {
    width: 50%;
  }

  .travelmates-cards__level-label {
    position: relative;
    margin-left: 0;
    left: 1px;
    top: 1px;
  }

  .travelmates-cards__circle {
    width: 60px;
    height: 60px;
  }

  .travelmates-cards__scores {
    position: absolute;
    top: 0;
    left: 13px;

    margin: 0;
    margin-left: 3px;

    line-height: 2;
    text-align: center;
    color: #1d2e5b;

    &::after {
      content: "";
      position: absolute;
      bottom: 11px;
      left: -1px;

      width: 29px;
      height: 1px;

      background-color: #000000;
      opacity: 0.1;
    }
  }

  .travelmates-cards__level {
    display: block;
    position: absolute;
    top: 24px;
    left: 17px;

    color: rgba(68, 68, 68, 0.4);
  }


  .travelmates-cards__level-word {
    position: absolute;
    top: 20px;
    left: 14px;

    display: block;

    font-weight: 400;
    font-size: 14px;
    line-height: 1;
    color: $text-color;
  }

  .travelmates-cards__online-status {
    position: absolute;
    top: 13px;
    right: -30px;

    width: 7px;
    height: 7px;
  }

  .travelmates-cards__item:nth-of-type(3) {
    padding-bottom: 10px;
  }


  .travelmates-cards__item--pixelperfect:nth-of-type(3) .travelmates-cards__visit {
    margin-top: 15px;
  }

  .travelmates-cards__item--pixelperfect:nth-of-type(3) .travelmates-cards__flags {

    margin-top: 16px;
  }

  .travelmates-cards__item--pixelperfect:nth-of-type(3) .travelmates-cards__flag {

    margin-right: 23px;
  }


  .travelmates-cards__item--pixelperfect:nth-of-type(4) .travelmates-cards__visit {
    margin-top: 15px;
  }
}

@media (min-width: $desktop) {
  .travelmates-cards {
    width: 950px;
    padding: 0;
    padding-bottom: 113px;
  }

  .travelmates-cards__item {
    margin-bottom: 30px;
    padding: 0;

    border-radius: 20px;
  }

  .travelmates-cards__item:hover,
  .travelmates-cards__item:focus {
    box-shadow: 0 6px 21px 0 rgba(0, 0, 0, 0.07);
  }

  .travelmates-cards__user {
    flex-wrap: nowrap;
  }

  .travelmates-cards__photo-wrapper {
    width: 285px;
    margin-right: 59px;
    overflow: hidden;

    border-radius: 20px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .travelmates-cards__photo {
    width: 100%;
    height: auto;
    margin: 0;

    border-top-right-radius: 0;
    border-bottom-right-radius: 0;

    transition: all 0.2s;
  }

  .travelmates-cards__item:hover .travelmates-cards__photo,
  .travelmates-cards__item:focus .travelmates-cards__photo {
    transform: scale(1.05);

    transition: all 0.2s;
  }

  .travelmates-cards__container {
    position: relative;

    width: 30%;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: -2px;

      width: 1px;
      height: 100%;

      background-image: linear-gradient(to bottom, transparent 15%, #e6e6e6 55%, transparent 100%);
    }
  }

  .travelmates-cards__user-name {
    margin-top: 45px;
  }

  .travelmates-cards__user-name:hover,
  .travelmates-cards__user-name:focus {
    opacity: 0.6;
  }

  .travelmates-cards__user-name:active {
    opacity: 0.3;
  }

  .travelmates-cards__online-status {
    left: -25px;
  }

  .travelmates-cards__tags {
    width: 80%;
  }

  .travelmates-cards__btn--tablet:hover,
  .travelmates-cards__btn--tablet:focus {
    background-color: #ffbd30;
  }

  .travelmates-cards__btn--tablet:active {
    color: rgba(#161c35, 0.3);
  }

  .travelmates-cards__show-more-btn {
    width: 20%;
    margin: 0 auto;
    margin-top: 69px;
    padding-right: 25px;
    padding-left: 0;

    text-align: center;
  }

  .travelmates-cards__show-more-btn:hover,
  .travelmates-cards__show-more-btn:focus {
    opacity: 0.6;
  }

  .travelmates-cards__show-more-btn:active {
    opacity: 0.3;
  }

  .travelmates-cards__pagination {
    margin-top: 72px;
  }

  .travelmates-cards__visit {
    width: 30%;
    height: 150px;
    margin-top: 30px;
    overflow: overlay;
  }

  .travelmates-cards__flags {
    flex-direction: column;
    margin-left: 50px;
  }

  .travelmates-cards__text--flags {
    display: none;
  }

  .travelmates-cards__flag {
    margin-bottom: 7px;
  }

  .travelmates-cards__flag:hover,
  .travelmates-cards__flag:focus {
    &::before {
      display: none;
    }

    &::after {
      display: none;
    }
  }

  .travelmates-cards__flag svg {
    left: -6px;
  }

  .travelmates-cards__item .travelmates-cards__transport-level {
    position: absolute;
    right: 41px;
    bottom: 41px;

    flex-direction: row;
    align-items: center;
    width: 249px;

    &::after {
      display: none;
    }
  }

  .travelmates-cards__item:nth-of-type(3) .travelmates-cards__transport-level {
    position: absolute;
    right: 41px;
    bottom: 41px;

    flex-direction: row;
    align-items: center;
    width: 249px;

    &::after {
      display: none;
    }
  }

  .travelmates-cards__item:nth-of-type(4) .travelmates-cards__transport-level {
    position: absolute;
    right: 41px;
    bottom: 41px;

    flex-direction: row;
    align-items: center;
    width: 249px;

    &::after {
      display: none;
    }
  }

  .travelmates-cards__transport-list {
    flex-direction: row;
    margin-top: -2px;
    margin-left: 13px;
  }

  .travelmates-cards__transport-item {
    &::before {
      top: 43px;
      left: -60px;

      padding: 19px 21px;
      padding-bottom: 18px;
    }

    &::after {
      top: 38px;
      left: 5px;
    }
  }

  .travelmates-cards__transport-icon--plane {
    top: 7px;
    // left: 17px;
  }


  .travelmates-cards__transport-icon--bus {
    top: 7px;
    // left: 20px;
  }

  .travelmates-cards__transport-icon--bike {
    top: 7px;
    // left: 17px;
  }

  .travelmates-cards__transport-icon--run {
    top: 7px;
    // left: 18px;
  }

  .travelmates-cards__pagination-directions {
    width: 9%;
    margin-right: 27px;
  }

  .travelmates-cards__item--pixelperfect:nth-of-type(3) .travelmates-cards__visit {
    margin-top: 17px;
  }

  .travelmates-cards__item:nth-of-type(3) {
    padding-bottom: 0;
  }

  .travelmates-cards__item--pixelperfect:nth-of-type(3) .travelmates-cards__flags {

    margin-top: 30px;
  }

  .travelmates-cards__item--pixelperfect:nth-of-type(4) .travelmates-cards__flags {

    margin-top: 32px;
  }


  .travelmates-cards__level-label {
    left: -1px;
    top: 3px;
  }
}
