.travelmates-filter {
  margin-bottom: 28px;
  padding: 0 25px;

  background-color: #edeff6;
}

.travelmates-filter__wrapper {
  padding: 0 25px;
  padding-top: 4px;
  padding-bottom: 20px;

  background-color: #ffd65b;
  border-radius: 20px;
}

.travelmates-filter__title {
  margin-bottom: 22px;

  font-weight: 700;
  font-size: 22px;
  line-height: 22px;
  font-family: $main-font;
  color: #1d2e5b;
  font-style: normal;
}

.travelmates-filter__fieldset {
  padding: 0;

  border-top: 1px solid #f3c72b;
}

.travelmates-filter__legend {
  margin-top: 13px;
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  font-family: $main-font;
  color: #1d2e5b;
  text-transform: uppercase;
  font-style: normal;
}

.travelmates-filter__list {
  margin: 0;
  margin-top: 13px;
  margin-bottom: 16px;
  padding: 0;

  list-style: none;
}

.travelmates-filter__item {
  padding-left: 6px;
}

.travelmates-filter__list--transport {
  display: flex;
  margin-top: 22px;
  margin-bottom: 22px;
}

.travelmates-filter__item--music {
  margin-right: 0;
  margin-bottom: 7px;
}

.travelmates-filter__item--transport {
  margin-right: 19px;
  padding: 0;
}

.travelmates-filter__transport-type {
  top: -30px;
}

.travelmates-filter__label {
  font-weight: 400;
  font-size: 15px;
  line-height: 15px;
  font-family: $main-font;
  color: $text-color;
  font-style: normal;
}

.travelmates-filter__text {
  width: 49%;
  height: 35px;

  font-weight: 500;
  font-size: 15px;
  line-height: 13px;
  font-family: $main-font;
  color: #1d2e5b;
  text-transform: uppercase;
  font-style: normal;
  letter-spacing: 0.1em;

  &:nth-of-type(1) {
    margin-right: -5.5px;

    border-right: none;
    border-radius: 4px 0 0 4px;
  }

  &:nth-of-type(2) {
    border-left: none;
    border-radius: 0 4px 4px 0;
  }
}

.travelmates-filter__slider {
  margin-top: 22px;
  margin-bottom: 25px;
}

.travelmates-filter__button {
  display: block;
  width: 100%;
  padding: 13px;

  font-weight: 700;
  font-size: 17px;
  line-height: 17px;
  font-family: $main-font;
  text-align: center;
  color: #161c35;
  text-transform: uppercase;
  font-style: normal;

  background-color: #ffffff;
  border: none;
  border-radius: 20px;
}
