.user-list {
  @include list-reset;
}

.user-list__item {
  width: 100%;
}

.user-list__login {
  display: block;

  text-align: center;

  border-radius: 25px;
}

@media (min-width: $tablet) {
  .user-list {
    display: flex;
  }

  .user-list__item {
    width: 190px;
    margin-left: auto;
  }
}

@media (min-width: $desktop) {
  .user-list__login {
    display: block;
    padding: 15px;

    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    text-align: center;

    border-radius: 25px;
  }
}
