.user-list {
  width: 100%;
  margin: 0;
  margin-bottom: 64px;
  padding: 0;

  list-style: none;
}

.user-list__item {
  width: 100%;
}

.user-list__login {
  display: block;
  padding-top: 17px;
  padding-right: 17px;
  padding-bottom: 15px;
  padding-left: 14px;

  text-align: center;
  text-transform: uppercase;
  letter-spacing: -0.5px;

  border-radius: 25px;
}

@media (min-width: $tablet) {
  .user-list {
    display: block;
    order: -1;
    width: auto;
    margin-bottom: 0;
    margin-left: auto;
    padding-left: 0;
  }

  .user-list__item {
    width: 190px;
    margin-left: auto;
  }

  .user-list__login {
    padding-bottom: 12px;

    font-size: 21px;
  }
}

@media (min-width: $desktop) {
  .user-list {
    order: 4;
    width: 14.5%;
    margin: 0;
    padding-left: 0;
  }

  .user-list__login {
    display: block;
    margin-top: 2px;
    padding: 15px;
    padding-top: 17px;
    padding-bottom: 13px;

    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0;

    border-radius: 25px;
  }

  .user-list__login:hover,
  .user-list__login:focus {
    background-color: #ffbd30;
  }

  .user-list__login:active {
    color: rgba(#161c35, 0.3);
  }
}
