body {
  position: relative;

  min-width: 320px;

  font-family: $main-font;
  color: $text-color;

  background-color: $darkblue-color;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  border: 0;

  clip: rect(0 0 0 0);
}

@media (min-width: $tablet) {
  body {
    background-color: #152043;
  }
}


@media (min-width: $desktop) {
  body {
    background-color: #141c33;
  }
}
