@mixin list-reset {
  list-style: none;
  padding: 0;
}

@mixin links {
  font-size: 16px;
  line-height: 22px;
  font-weight: 700;
  color: #192144;
  position: relative;

  padding-left: 55px;

  &::before {
    content: "";
    position: absolute;
    width: 45px;
    height: 45px;
    background-color: #121936;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
    border-radius: 50%;
  }
}

@mixin social-link {
  background-repeat: no-repeat;
  background-position: center;
  width: 23px;
  height: 23px;
  display: block;
}
