@mixin list-reset {
  list-style: none;
  padding: 0;
  margin: 0;
}

@mixin links {
  font-size: 16px;
  line-height: 22px;
  font-weight: 700;
  color: #192144;
  position: relative;

  padding-left: 55px;

  &::before {
    content: "";
    position: absolute;
    width: 41px;
    height: 41px;
    background-color: #121936;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
    border-radius: 50%;
  }
}
